:root {
  @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] 2xl:text-[19px];
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.2s ease-in-out;
}

.slide-up-enter-from {
  transform: translateY(-3rem);
  opacity: 0;
}

.slide-up-leave-to {
  transform: translateY(3rem);
  opacity: 0;
}

.slide-down-enter-from {
  transform: translateY(-3rem);
  opacity: 0;
}

.slide-down-leave-to {
  transform: translateY(3rem);
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s ease-in-out;
}

.slide-left-enter-from {
  transform: translateX(3rem);
  opacity: 0;
}
.slide-left-leave-to {
  transform: translateX(-3rem);
  opacity: 0;
}

.slide-right-enter-from {
  transform: translateX(-3rem);
  opacity: 0;
}
.slide-right-leave-to {
  transform: translateX(3rem);
  opacity: 0;
}
